.footer {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    border-top: 1px solid white;
}